input {
  border: 1px solid black;
  padding: 10px;
  border-radius: 0px;
  outline: none;
  height: 12px;
  display: flex;
}

button {
  height: 34px;
  width: 75px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
/* 
div {
  padding: 10px;
  border: 1px solid lightgray;
} */